<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

 <style>
  h1{
    padding:0 1rem;
  }
.container{
  display: flex;
  width: 100vw;
  height: 25rem;
  background: #22d3ee;
  /* opacity: 0.5; */
}
.first{
  font-size: 1.2rem;
  padding: 0 1rem;
  line-height: 1.5rem;
}
 </style>
</head>
<body>
  <div class="container">
    <div>
      <h1>Welcome to Vydya</h1>
      <p class="first">Vydya is your dedicated healthcare companion, prioritizing your well-being above all else. Our platform offers a wide range of healthcare services, ensuring accessibility and convenience. Discover our Medical Products Store, a treasure trove of healthcare essentials, including medications, remedies, and top-quality equipment. We believe in affordability without compromising quality. Join our Blood Donation Platform to save lives with ease through appointments and donation center locations.</p>
      <p class="first">At Vydya, your health is paramount. Our platform delivers an exceptional healthcare experience with an array of services. Explore our Medical Products Store, stocked with essential medications, remedies, and top-tier equipment. Our Blood Donation Platform simplifies life-saving contributions. Booking doctor appointments is a breeze, and our nutritionists offer personalized wellness guidance. We prioritize your data's security, accessible only to trusted healthcare professionals. HealthMeds Hub is your partner for accessible, quality healthcare. Join our community, empower yourself, and embrace a healthier future.</p>
    </div>
    <img src="../Home/Images/WelcomePara.jpg" alt="">
  </div>
</body>
</html> 
